<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Formulär</title>
</head>
<body>
   <form action="/senddata" method="post">
      <label for="name">Användarnamn</label>
      <input type="text" name="name" id="name">
      <button type="submit">Skicka</button>
   </form>
</body>
</html>