<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>maru</title>
   <link rel="stylesheet" href="./style.css">
</head>
<body>
   <h1>Websidan</h1>
   <h2>Namn</h2>
   <p>{{name}}</p>
   <h2>Ålder</h2>
   <p>{{age}}</p>
   <h2>Ögon</h2>
   <p>{{eyes}}</p>
   <h2>Öron</h2>
   <p>{{ears}}</p>
   
</body>
</html>