@import url('https://fonts.googleapis.com/css2?family=Onest:wght@400;700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;

	font-family: 'Roboto', sans-serif;
	color: #333333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Onest', sans-serif;
}

hr {
	height: 1px;

	background-color: #33333355;

	border: none;
	outline: none;
}

.container {
	height: 100%;

	display: grid;
	grid-template-columns: 1fr 5fr;
	grid-template-rows: 1fr 7fr;
	grid-template-areas: "sidebar header"
		"sidebar content";
}

.header-container {
	grid-area: header;

	padding: 10px;
}

.header {
	height: 100%;
	box-sizing: border-box;

	padding: 20px 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	background-color: #EDEBE9;

	border-radius: 10px;
}

#search-input {
	width: 400px;

	padding: 10px 20px;

	border: none;
	border-radius: 5px;

	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}

button {
	padding: 10px 20px;

	background-color: #2f4f4f;
	border: none;
	border-radius: 5px;

	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: white;
	font-weight: 700;

	cursor: pointer;

	transition-duration: 0.3s;
}

button:hover {
	background-color: #487a7a;
}

.sidebar-container {
	grid-area: sidebar;

	padding: 10px;

}

.sidebar {
	height: 100%;
	box-sizing: border-box;

	padding: 20px;

	background-color: #E4E1DD;

	border-radius: 10px;
}

.sidebar h1 {
	text-align: center;
}

.content {
	grid-area: content;

	display: grid;
	grid-template-columns: 3fr 2fr 1fr;
	grid-template-areas: "current recs ad";
}

.currently-playing {
	grid-area: current;

	display: grid;
	grid-template-rows: auto 1fr;
	grid-template-areas: "video"
		"meta";
}

.video-container {
	grid-area: video;

	padding: 10px;
}

.video-container video {
	width: 100%;

	border-radius: 10px;
}

.video-meta {
	grid-area: meta;

	padding: 0 20px;
}

#video-title {
	margin-bottom: 5px;
}

#video-poster {
	margin-top: 5px;
}


.video-recommendations {
	grid-area: recs;

	padding: 25px;
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.recommendation {
	display: grid;
	grid-template-columns: 2fr 3fr;
	grid-template-areas: "thumbnail meta";
	gap: 10px;

	border-radius: 5px;

	transition-duration: 0.3s;
}

.recommendation:hover {
	background-color: #eeeeee;
}

.recommendation-thumbnail {
	grid-area: thumbnail;

	width: 100%;

	border-radius: 5px;
}

.recommendation-meta {
	grid-area: meta;
}

.recommendation-meta > * {
	margin: 0;
}

.advertisement-container {
	grid-area: ad;

	padding: 10px;
}

.advertisement {
	height: 100%;

	display: grid;
	place-content: center;

	background-color: darkslategray;

	color: white;
	font-weight: 700;
	font-size: 30px;

	border-radius: 10px;
}